header{
    margin-top: 50px;
    text-align: center;
    font-size: x-large;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
table{
    width: 60%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 10px 10px;

}
table, th, td {
    border: 2px solid black;
  }
th{
    border-radius: 999px;
    background-color: aqua;}
td{
    border-radius: 999px;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.heading{
    text-decoration: underline;
    font-weight: bold;
}

.divider{
    height: 100px;
}

.mu21{
    background-color: gray;
    overflow:visible;
}

.mo21{
    color: white;
    background-color: black;
}

.fu21{
    background-color: red;
}

.fo21{
    background-color: pink;
    color: black;
}

.males{
   
        list-style: none;
        padding: 10px 30px;
        background-image: url(image/Male.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
        scale: 150%;
        margin-right: 50px;
    }
    


.females{
        list-style: none;
        padding: 10px 30px;
        background-image: url(image/Female.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
        scale: 150%;
    }


div{
    display: flex;
    align-items: center;
    justify-content: center ;
}

